{% extends "base.html" %}
{% block content %}
<!-- Static navbar -->

    {% for s in hosts %}
    <section>
      <h2>{{s}}</h2>
      <strong class="bubble">{{sums[s].SUMMARY[0]['MHS 5s']}} MH/s</strong>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Status</th>
            <th>When</th>
            <th>Running</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{sums[s].STATUS[0].STATUS}}</td>
            <td>{{sums[s].STATUS[0].When}}</td>
            <td>{{sums[s].STATUS[0].Description}}</td>
          </tr>
        </tbody>
      </table>

      <table class='table table-striped'>
          <thead>
            <tr>
              <th>Found</th>
              <th>Accepted</th>
              <th>Rejected</th>
              <th>Stale</th>
              <th>Get Failures</th>
              <th>HW</th>
            </tr>
          </thead>
          <tbody>

              <tr>
                  <td>{{sums[s].SUMMARY[0]['Found Blocks']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Accepted']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Rejected']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Stale']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Get Failures']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Hardware Errors']}}</td>
              </tr>

          </tbody>
      </table>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>AVG MH/s</th>
              <th>5s MH/s</th>
              <th>WU</th>
            </tr>
          </thead>
          <tbody>

              <tr>
                  <td>{{sums[s].SUMMARY[0]['MHS av']}}</td>
                  <td>{{sums[s].SUMMARY[0]['MHS 5s']}}</td>
                  <td>{{sums[s].SUMMARY[0]['Work Utility']}}</td>
              </tr>

          </tbody>
      </table>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>GPU</th>
                <th>Temp</th>
                <th>Fan Speed</th>
                <th>MHS 5s</th>
                <th>HW</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for d in devs[s] %}
            <tr>
                <td>{{d.GPU}}:</td>
                <td>{{d.Temperature}}C</td>
                <td>{{d['Fan Speed']}}RPM ({{d['Fan Percent']}}%)</td>
                <td>{{d['MHS 5s']}}MH/s</td>
                <td>{{d['Hardware Errors']}}</td>
                <td>{{d['Status']}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>

    {% endfor %}

{% endblock %}

